body {
    margin: 0;
    /* background-color: #8F57FD; */
    font-family: 'Muli', sans-serif;
}

.header {
    align-items: center;
    background-color: #2b580c;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0 0 0 -14px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    display: flex;
    margin-right: 8px;
    align-items: center;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p {
    margin: 0;
    color: white;
}

::placeholder {
    color: white;
}

.login {
    /* background: linear-gradient(#21C08B, #AB88FF);     */
    /* background: linear-gradient(#d8b9c3, #363062); */
    /* background: linear-gradient(#00a8cc, #142850); */
    /* background: linear-gradient(#424874, #00a8cc); */
    background: linear-gradient(#2b580c, #639a67);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    min-height: calc(100vh - 200px);
    /*100% lo que ve el usuario*/
}

.login__container {
    background: rgba(255, 255, 255, 0.1);
    border: solid 2px white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media>div {
    display: flex;
    align-items: center;
}

.login__container--social-media>div>img {
    width: 30px;
    margin-right: 10px;
}

.login__container--register, .login__container--iniciar-sesion {
    font-size: 14px;
    text-align: center;
}

.login__container--register a, .login__container--iniciar-sesion a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.login__container--register a:hover, .login__container--iniciar-sesiona:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    color: white;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
}

.footer {
    background-color: #639a67;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: white;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}